In [1]:


import snowflake.connector
import pandas as pd

In [2]:
SNOWFLAKE_SOURCE_NAME = "net.snowflake.spark.snowflake"

In [3]:
conn = snowflake.connector.connect(
    user="suky.muliadikara@ihsmarkit.COM",
    authenticator='externalbrowser',
    account="mwa19646.us-east-1",
    warehouse="GLOBAL_ANALYST_WH",
    database="DATAINSIGHTS",
    schema="USAGE_EWB"
    )

cur = conn.cursor()

Initiating login request with your identity provider. A browser window should have opened for you to complete the login. If you can't see it, check existing browser windows, or your OS settings. Press CTRL+C to abort and try again...

In [4]:
sql = "SELECT VIEWERTYPE, Count(*) FROM documentviewmod GROUP BY VIEWERTYPE ORDER BY count(*) desc;"

In [5]:
results = cur.execute(sql).fetchall()
for rec in results:
    print('%s, %s' % (rec[0], rec[1]))

Document, 39849906
External, 429462
Patent, 142376
external, 25512
ScientificEffects, 4117
FoodScience, 3

In [6]:

df = cur.execute(sql).fetch_pandas_all()

display(df)

          VIEWERTYPE  COUNT(*)
0           Document  39849906
1           External    429462
2             Patent    142376
3           external     25512
4  ScientificEffects      4117
5        FoodScience         3